* {
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif, arial;
    line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
    .animation {
        animation: none !important; /* Disable animation */
    }
}

body {
    background-color: #BFD8AF;
}

.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;
}

.skip-main {
    position: absolute;
    left: -100%;
    overflow: hidden;
}

.skip-main:focus {
    position: static;
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #222;
    background-color: rgb(243, 242, 242);
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #D4E7C5;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    /* margin-bottom: 3%; */
    margin: 0px 10px 3%;
    padding: 10px;
}

nav ul li {
    display: block;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 12px;
}

nav ul li a:hover {
    background-color: #abcd92;
}

.active {
    font-weight: bold;
    background-color: #99BC85;
    color: black;
}

h1 {
    font-size: 2.3em;
    font-weight: 500;
    margin: 20px 20px 0px;
}

h2 {
    font-size: 1.7em;
    font-weight: 300;
    margin: 20px 20px 20px;
    margin: 20px;
}

h3 {
    font-size: 1.3em;
    font-weight: 300;
    margin: 20px 20px 20px;
}

.default-list {
    margin: 20px 30px;
    list-style-position: inside;
}

.info-paragraph {
    margin: 30px 20px 30px;
}

.info-paragraph a {
    color: #445539;
}

.info-paragraph a:hover {
    background-color: #abcd92;
}

.page-item {
    margin: 30px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    background-color: #E1F0DA;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    justify-items: center;
    background-color: #c8e2b9;
    grid-gap: 10px
}

@media screen and (min-width: 600px) {
    * {
        font-size: 21px;
    }
    nav ul li a {
        font-size: 21px;
    }
    h1 {
        font-size: 2.6em;
        font-weight: 500;
        margin: 20px 20px 0px;
        padding-top: 75px;
    }
    
    h2 {
        font-size: 1.9em;
        font-weight: 300;
        margin: 20px 20px 20px;
        margin: 20px;
    }
    
    h3 {
        font-size: 1.65em;
        font-weight: 300;
        margin: 20px 20px 20px;
    }
    .grid-gallery img {
        width: 300px;
    }
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    nav ul {
        margin: 0px;
    }
    .page-item {
        opacity: 0;
        margin-left: -100%;
        width: 100%;
        animation: fadeIn 2s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
            margin-left: -100%;
        }
        100% {
            opacity: 1;
            margin-left: 0%;
        }
    }
}